<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Чат</title>
    <script src="/_Layouts/15/SPSignalrApp/jquery-1.10.2.min.js"></script>
    <script src="/_Layouts/15/SPSignalrApp/jquery.color-2.1.2.min.js"></script>
    <script src="/_Layouts/15/SPSignalrApp/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="/_Layouts/15/SPSignalrApp/Scripts/toastr.min.js"></script>

    <link href="/_Layouts/15/SPSignalrApp/toastr.min.css" rel="stylesheet" />

    <script src="/_Layouts/15/SPSignalrApp/SignalR.Chat.js"></script>

    <script src="/signalr/hubs"></script>
</head>
<body>
    <input type="button" id="update" value="Add message"/>
    <input id="text" />
    <div id="listitems">no data</div>
</body>
</html>